<ion-app>
  <ion-content style="position: absolute; top: 0;">
    <ion-item>
      <ion-toggle (click)="toggleTheme()"></ion-toggle>
      <ion-searchbar
        [formGroup]="searchBoxForm"
        data-testid="searchbar"
        placeholder="Enter your search here"
        (ionInput)="search($event)"
        showCancelButton="focus"
        (ionCancel)="clearSearchInput()"
      >
      </ion-searchbar>
    </ion-item>
    <div class="card-container">
      <ion-card class="results" [attr.data-testid]="'card_'+boxItem.name" *ngFor="let boxItem of state.boxItems">
        <ion-toolbar>
          <ion-title (click)="openBox(boxItem.boxId)">{{boxItem.name}}</ion-title>
        </ion-toolbar>
        <ion-buttons>
          <ion-button data-testid="delete-button" (click)="deleteBox(boxItem.boxId)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="updateBox(boxItem)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-card-subtitle (click)="openBox(boxItem.boxId)">{{boxItem.description}}</ion-card-subtitle>
        <img style="max-height: 200px" [src]="'https://media.tenor.com/-Y2YOay3_JoAAAAM/its-friday-dancing.gif'" (click)="openBox(boxItem.boxId)">
      </ion-card>
    </div>

    <ion-fab>
      <ion-fab-button data-testid="create-button" (click)="createBox()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>
