/* Style for the modal overlay */
ion-modal.showBox-modal {
  --backdrop-opacity: 0.7; /* Adjust the backdrop opacity */
}

.custom-header {
  background-color: #007bff;
  color: darkgrey;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 10px;
}

.content-wrapper {
  margin: 10px; /* Add margin to the content */
  display: flex; /* Display child elements in a row */
  flex-direction: row; /* Arrange child elements horizontally */
  justify-content: space-between; /* Add space between text and image */
}

.box-info {
  flex: 1; /* Distribute available space equally between text and image */
  font-size: 1.5rem; /* Decrease font size for text */
  color: lightgrey;
  margin: 10px 25px 25px 25px; /* Adjust top margin here */
  line-height: 1.6; /* Increase line spacing */
}

.image-container {
  flex: 1; /* Distribute available space equally between text and image */
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 60px;
}

.delete-button,
.update-button {
  background-color: #ff6347; /* Change button colors */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 1rem;
}
